# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
**/build/*

# Ignore idea cache directory
.idea
**/.idea/*

.vscode
**/.vscode/*

test.java
./test.java

.DS_Store
**/.DS_Store

**/bin/
